body {
  text-align: center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #39311d;
  font-size: 1.10rem;
}

h1 {
  font-size: 2.8rem;
  display: inline-block;
}

h2 {
  font-size: 1.8rem;
}

.title {
  font-family: 'Gabriela', serif;
  color: #39311d;
  position: relative;
  margin-top: 375px;
}

.top-container {
  background-color: rgb(244, 236, 218);
  position: relative;
  width: auto;
  height: 750px;
  padding: 10px;
}


.green {
  color: #16a596;
}

.dots {
  border-style: dotted;
  border-width: 5px 0 0 0;
  border-color: #556052;
  width: 3%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.skills {
  margin: 50px auto 50px 30px;
  display: inline-block;
}

.skill-row {
  display: inline-block;
  margin: 35px;
}

.sidebars{
  border-style: solid;
  border-color: #556052;
  border-width: 0 1.7px;
  padding: 0 55px;

}

.bottom-container{
  background-color: rgb(244, 236, 218);
  padding: 30px;
}

.bottom-text{
  font-size: 0.8rem;
  margin-top: 10px;
}

.footer-link {
  color: #556052;
  text-align: left;
  margin: 50px 2px;
  filter: invert(16%) sepia(12%) saturate(1658%) hue-rotate(5deg) brightness(92%) contrast(89%);
}

.language{
  font-size: 0.7em;
  text-align: left;
  position: absolute;
  color: #39311d;
  left: 20px;
}

#languagelink{
  position: absolute;
  bottom: 13px;
  left: 30px;
  color: #16a596;
}

.contactbutton {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #F4ECDA;
  font-size: 18px;
  font-weight: 200;
  padding: 15px;
  background-color: #D18162;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.contactbutton:hover {
  background: #D18162;
  border: solid #39311D 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.contact-text{
  margin: 50px;
}

/* COLORS #16a596  #39311d  rgb(244,236,218)  #556052*/
