body {
  text-align: center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #39311d;
  font-size: 1.10rem;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 1.8rem;
}

.title {
  font-family: 'Gabriela', serif;
  color: #39311d;
  position: relative;
  margin-top: 375px;
}

.top-container {
  background-color: rgb(244, 236, 218);
  position: relative;
  width: auto;
  height: 750px;
  padding: 10px;
}


.green {
  color: #16a596;
}

.dots {
  border-style: dotted;
  border-width: 5px 0 0 0;
  border-color: #556052;
  width: 3%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.skills {
  margin: auto;
  margin-left: 30px;
  display: inline-block;
}

.skill-row {
  display: inline-block;
  margin: 35px;
}

.sidebars{
  border-style: solid;
  border-color: #556052;
  border-width: 0 1.7px;
  padding: 0 55px;

}

.footer-link {
  color: #556052;
  text-align: left;
}

.icon{
  margin: 20px 2px;
  filter: invert(16%) sepia(12%) saturate(1658%) hue-rotate(5deg) brightness(92%) contrast(89%);
}

.language{
  font-size: 0.7em;
  text-align: left;
  position: absolute;
  color: #39311d;
  left: 20px;
}

#languagelink{
  position: absolute;
  bottom: 13px;
  left: 30px;
}


/* COLORS #16a596  #39311d  rgb(244,236,218)  #556052*/
